body{
    font-family: 'Open Sans', sans-serif;
}
.mesa{
    margin: 40px 60px;
    width: 60px;
    transform: scale(3);
}

.contenedorMesa{
    margin: 10px;
}

#formularioPedirMesa{
    width: 100vw;
    max-width: 500px;
    border-width: 10px;
    border-color: green;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#formularioAgregarMesa{
    width: 100vw;
    max-width: 500px;
    border-width: 10px;
    border-color: green;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#formularioAgregarCapacidad{
    width: 100vw;
    max-width: 500px;
    border-width: 10px;
    border-color: green;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}